<h2>Edit typeuser</h2>

<%= render "form.html", changeset: @changeset,
                        action: typeuser_path(@conn, :update, @typeuser) %>

<%= link "Back", to: typeuser_path(@conn, :index) %>
